@using ShoppingCart2.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="input-group" style="margin-top : 20px">
    <span class="input-group-addon fa fa-search" id="sizing-addon2"></span>
    <input type="text" class="form-control" placeholder="Enter your search here..." aria-describedby="sizing-addon2" oninput="searchField(this)">
</div>
    
<div class="row" style="margin-top : 20px;" id="productTable">
    @{
        foreach (var p in (List<Product>)ViewData["products"])
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Image/Index?imagename=@p.imageName" alt="...">
                    <div class="caption" style="min-height : 180px">
                        <h3>@p.name</h3>
                        <p>@p.description</p>
                        <p><button class="btn btn-primary" name="@p.id" onclick="addToCart(this)">$ @p.price - ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        }
    }
 </div>

    

<script>
    var spanTag = document.getElementsByClassName("badge")[0];
    var table = document.getElementById("productTable");
    updateCart();
    //deleteAllCookies();
    function deleteAllCookies() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
    function addToCart(e) {
        var noOfItems = Number(getCookie(e.name));
        if (noOfItems) {
            setCookie(e.name, noOfItems + 1);
        } else {
            setCookie(e.name,1)
        }

        updateCart();
    }

    function updateCart() {
        var count = productCount();
        spanTag.innerHTML = count || 0;
    }

    function productCount() {
        console.log(document.cookie)
        var cookies = document.cookie.split(";")
        console.log(cookies);
        var count = 0;
        for (var i = 0; i < cookies.length; i++) {
            var c = cookies[i].split("=");
            console.log(c)
            var key = c[0].trim();
            if (key != "userId" && key != "name") {
                count += Number(c[1]);

            }
        }
        return count;
    }


    function getCookie(name) {
        var cookie, c;
        cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            c = cookies[i].split('=');

            if (c[0].trim() == name) {
                return c[1];
            }
        }
        return "";
    }

    function setCookie(name, number) {
        document.cookie = `${name} = ${number};path=/`;

    }

    function searchField(e) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var products = "";
            if (this.readyState == 4 && this.status == 200) {
                var results = JSON.parse(this.responseText)
                    
                for (var i = 0; i < results.length; i++) {
                    products += `
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="/Image/Index?imagename=${results[i]['imageName']}" alt="...">
                                <div class="caption"  style="min-height : 180px">
                                    <h3>${results[i]['name']}</h3>
                                    <p>${results[i]['description']}</p>
                                    <p><button class="btn btn-primary" name="${results[i]['id']}" onclick="addToCart(this)">${results[i]['price']} - ADD TO CART</button></p>
                                </div>
                            </div>
                        </div>`


                }

                table.innerHTML = products;
            }
        };
        xhttp.open("GET", "/product/index?name=" + e.value, true);
            xhttp.send();
        

    }
</script>